<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Url Shortner</title>
    <style>
        body {
            text-align: center;
            box-sizing: border-box;
            margin: 0%;
            padding: 0%;
            font-family: sans-serif;
        }
        [v-cloak] {display: none}
    </style>

</head>

<body>
    <script src="https://unpkg.com/vue@3.0.11"></script>
    <div id="app">
        <h1>

        </h1>
        <br>
        <form @submit.prevent="createShort">
            <label>URL:</label>
            <br>
            <input placeholder="https://www.youtube.com/watch?v=dQw4w9WgXcQ" v-model="url" type="url" required>
            <br><br>
            <label>Short:</label>
            <br>
            <input placeholder="rick" v-model="alias">
            <br><br>
            <button type="submit">Create</button>
        </form>

        <p v-if="res.error" v-cloak>{{res.error}}</p> 
        <p v-else-if="res.message" v-cloak>{{res.message}} <a :href="res.alias">{{res.link}}</a></p>
         
    </div>

    <script src="app.js"></script>
</body>

</html>